<footer>   
      <p style="font-size: 18px;"><strong>Thank you for visting our page</strong><span>&#128151;</span></p>
    <p><strong>Creators:</strong></p>
      {{!-- these will be github links --}}
        <a href="" class="footer-anchors">Ben</a><br>
        <a href="" class="footer-anchors">Tom</a>
        <a href="" class="footer-anchors">Inmar</a>
        <a href="" class="footer-anchors">Collin</a>
        <a href="" class="footer-anchors">Mark</a>  
</footer>