<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Name Goes Here</title> <!-- new name? -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">App Name Goes Here</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/tracker">Expense Tracker</a>
        <a href="/calc">Finance Calculator</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Need creative footer text <!-- prob some copyright assignment etc -->
    </footer>
  </div>
<!--  Implement later
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
-->
</body>

</html>