<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Opulence</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- bootstrap style sheet -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">

    <!-- google fonts style, Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <!-- style.css sheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body style="background-color: #FFEFCF">

  <div class="wrapper hero">
    <header class="container-fluid">
        <div class="row max-width-100">
          <h1>
            <a href="/"><img src="/images/android-chrome-192x192.png" alt="icon" class="page-icon"></a>
            <a href="/"  id="title" class="header-anch" style="font-size: 3em;">Capital Opulence</a>
          </h1>
        </div>
        <nav class="d-flex justify-content-lg-end justify-content-sm-center position-relative">
          <div class="d-flex flex-row flex-column-sm align-items-center no-gutters w-50 flex-wrap">
              {{#if loggedIn}}
              <div class="d-flex col-sm mt-1 mb-1 text-center navele">
              <a href="/tracker" id="start-expense-tracker" class="btn-styles anch-styles ml">Expense Tracker</a>
              </div>
              <div class="d-flex col-sm mt-1 mb-1 text-center navele">
              <a href="/calc" id="start-calculator" class="btn-styles anch-styles ml">Finance Calculator</a>
              </div>
              <div class="d-flex col-sm mt-1 mb-1 text-center navele">
              <a href="/dashboard" class="btn-styles anch-styles ml">Dashboard</a>
              </div>
              <div class="d-flex col-sm mt-1 mb-1 text-center navele">
              <a href="/about" class="btn-styles anch-styles ml">About</a>
              </div>
              <div class="d-flex col-sm mt-1 mb-1 text-center navele">
              <button id='logout-btn' type="button" class="btn-styles anch-styles ml" style="font-weight: bold">Logout</button>
              </div>                
              {{else}}
              <div class='d-flex flex-row flex-column-sm align-items-center no-gutters w-50 flex-wrap'>
              <a href="/about" class="btn-styles anch-styles ml" >About</a>
              <a href="/login" class="btn-styles anch-styles ml" >Login</a>
              </div>              
              {{/if}}
          </div>
        </nav>
    </header>
<!--
    <header class="row hero g-0">
        <h1 class="col-7">
          <a href="/"><img src="/images/android-chrome-192x192.png" alt="icon" class="page-icon"></a>
          <a href="/"  id="title" class="header-anch" style="font-size: 3em;">Capital Opulence</a>
        </h1>
        <div class="col-5 nav-styles">
        </div>
    </header>
-->
    <main>
      {{{ body }}}
    </main>
  </div>

  <div class="footer-div">


<footer>   
    <h5><strong>Thank you for visting our page</strong><span>&#128151;</span></h5>
    <a href="/about" class="footer-a">About The Creators</a>
</footer>
</div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>




</html>