<!-- todo - insert Collin's static html here -->
<div class="col-4 align-self-center">
    <h2>Expense Tracker</h2> 
    <p>description of expense tracker</p>
    <button id="start-expense-tracker" class="btn-styles">Start Tracker</button>
</div>
<div class="col">
    <h2>Calculator</h2>
    <p>description of the financal calculator</p>
    <button id="start-calculator" class="btn-styles">Calculator</button>
</div>