<fieldset id="expense-form-fieldset">

<legend>Expense Form</legend>

  <form id="expense-form">
      <div id="main-expense-row">
      <input id="expense-date" class="expense-input expense-date" type="date" placeholder="Date Of Expense"> 
      <input id="expense-gain-loss" class="expense-input expense-gain-loss" type="boolean" placeholder="Gain/Loss" list="gain-loss">
      <input id="expense-description" class="expense-input expense-description" type="text" placeholder="Description Of Expense">
      <input id="expense-amount" class="expense-input expense-amount" type="number" placeholder="Amount - Or +">
      <button onclick="Delete(this);">Reset Row</button>
      </div>

      <div>
          <ul  id="expense-row-list">
          </ul>
      </div>
  </form>

    <p>Click the button to add a new form element.</p>

    <button class='go-back-home'>Go Back</button>

        <button id="expense-form-add-btn">Add Button</button>
        <button id="submit-expense-row">Submit</button>

        <!-- datalist for the gain loss input -->
        <datalist id="gain-loss">
            <option value="Loss">
            <option value="Gain"> 
        </datalist>
</fieldset>

<section class="container" id="calculator">

    <div class="row">
 
    <input class="col-12" id="calculator-window">
 
 
        <button class="col-6">Clear</button>
        <button class="col-6">Delete</button>
        <button class="col-3 operator" value="/">รท</button>
        <button class="col-3 calc-btn" value=1>1</button>
        <button class="col-3 calc-btn" value=2>2</button>
        <button class="col-3 calc-btn" value=3>3</button>
        <button class="col-3 operator" value="*">*</button>
        <button class="col-3 calc-btn" value=4>4</button>
        <button class="col-3 calc-btn" value=5>5</button>
        <button class="col-3 calc-btn" value=6>6</button>
        <button class="col-3 operator" value="+">+</button>
        <button class="col-3 calc-btn" value=7>7</button>
        <button class="col-3 calc-btn" value=8>8</button>
        <button class="col-3 calc-btn" value=9>9</button>
        <button class="col-3 operator" value="-">-</button>
        <button class="col-3" value=".">.</button>
        <button class="col-3 calc-btn" value=0>0</button>
        <button class="col-3" id="calculate" value='='>=</button>
 
 </div>
</section>



<script src="/javascript/expense-form.js"></script>
