<fieldset id="expense-form-fieldset" class="expense-form-styles">

<legend>Expense Form</legend>

  <form id="expense-form" class="exp-style">
      <div id="main-expense-row">
      <input id="expense-date" class="expense-input expense-date" type="date" placeholder="Date Of Expense"> 
      <input id="expense-gain-loss" class="expense-input expense-gain-loss" type="boolean" placeholder="Gain/Loss" list="gain-loss">
      <input id="expense-description" class="expense-input expense-description" type="text" placeholder="Description Of Expense">
      <input id="expense-amount" class="expense-input expense-amount" type="number" placeholder="Amount - Or +">
      <button onclick="Delete(this);" class="btn-styles">Reset Row</button>
      </div>

      <div>
          <ul  id="expense-row-list">
          </ul>
      </div>
  </form>

    <p>Click the add button to add a new form element.</p>

    <button class='go-back-home btn-styles'>Go Back</button>

        <button id="expense-form-add-btn" class="btn-styles">Add</button>
        <button id="submit-expense-row" class="btn-styles">Submit</button>

        <!-- datalist for the gain loss input -->
        <datalist id="gain-loss">
            <option value="Loss">
            <option value="Gain"> 
        </datalist>
</fieldset>

{{> footer }}

<script src="/javascript/expense-form.js"></script>
