
 <section id="homepage" class="row">
        <div class="col-2">
            <a href="" class="anch-styles">Expense Tracker</a>
            <a href="" class="anch-styles">finance calculator</a>
        </div>
        <div class="col-2">
            <p>Description of finance calculator. Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
                qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-4 align-self-center">
            <h2>Expense Tracker</h2> 
            <p>description of expense tracker</p>
            <button id="start-expense-tracker" class="btn-styles">Start Tracker</button>
        </div>
        <div class="col-4">
            <h2>Calculator</h2>
            <p>description of the financal calculator</p>
            <button id="start-calculator" class="btn-styles">Calculator</button>
        </div>
 </section>

<article>
    <h2>Finance Calculator</h2>
    <p>
       Description of finance calculator. Lorem ipsum dolor sit amet, consectetur adipiscing 
       elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
       minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
       eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
       qui officia deserunt mollit anim id est laborum.
    </p>
    <button id="start-calculator">Calculator</button>
</article>
<article>
    <h2>Expense Tracker</h2>
    <p>
       Description of expense tracker. Lorem ipsum dolor sit amet, consectetur adipiscing 
       elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
       minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
       eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
       qui officia deserunt mollit anim id est laborum.
    </p>
    <button id="start-expense-tracker">Expense Tracker</button>
</article>