 <section id="homepage" class="row">
         <div class="col-6">
             <div class="content-homepage">

            <h2>Expense Tracker</h2> 
            <p>description of expense tracker</p>
            <a href="/tracker" id="start-expense-tracker" class="btn-styles anch-styles">Start Tracker</a>
             </div>
        </div>
        <div class="col-6">
            <div class="content-homepage">
            <h2>Calculator</h2>
            <p>description of the financal calculator</p>
            <a href="/calc" id="start-calculator" class="btn-styles anch-styles">Calculator</a>

            </div>
        </div>
 </section>
