
 <div class="row">
    <section class="col-3">
      <div class="description">
        <p>
            Page description goes here.
        </p>
      </div> 
    </section>
     {{!-- {{#if loggedIn}} --}}
    <section id="homepage"  class="col-3">
            <div>
                <div class="col " style="padding: 50px;">
                <h2 style="font-size: 3em">Expense Tracker</h2> 
                <p>description of expense tracker</p>
                <a href="/calc" id="start-expense-tracker" class="btn-styles anch-styles" style=:"width: 100px;">Start Tracker</a>
                </div>
                <div class="col" style="padding: 50px;">
                <h2 style="font-size: 3em">Calculator</h2>
                <p>description of the financal calculator</p>
                <a href="/tracker" id="start-calculator" class="btn-styles anch-styles"  style=:"width: 100px;">Calculator</a>
                </div>
            </div>
    </section>
 </div>
 {{!-- {{/if}} --}}

{{> footer }}
