 <section id="homepage" class="row">
        <div class="col-2">
        </div>
        <div class="col-4 align-self-center">
            <h2>Expense Tracker</h2> 
            <p>
                Fill out our expense form and visualize your everyday spending habits with a bar graph.
            </p>
            <a href="/tracker" id="start-expense-tracker" class="btn-styles">Start Tracker</a>
        </div>
        <div class="col-4">
            <h2>Calculator</h2>
            <p>
                Just a simple calculator for your convince when filling out your personal expense form.
            </p>
            <a href="/calc" id="start-calculator" class="btn-styles">Calculator</a>
        </div>
 </section>
