 <section id="homepage" class="row">
        <div class="col-2">
        </div>
        <div class="col-4 align-self-center">
            <h2>Expense Tracker</h2> 
            <p>description of expense tracker</p>
            <a href="/calc" id="start-expense-tracker" class="btn-styles">Start Tracker</a>
        </div>
        <div class="col-4">
            <h2>Calculator</h2>
            <p>description of the financal calculator</p>
            <a href="/tracker" id="start-calculator" class="btn-styles">Calculator</a>
        </div>
 </section>
