<section id="homepage">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4 align-self-center">
                <div class="card p-3">
                <img class="card-img-top p-4" src="/images/expenses.png">
                <h2 class="text-center card-title">Expense Tracker</h2> 
                <p class="p-1 card-text">description of expense tracker</p>
                <a href="/tracker" id="start-expense-tracker" class="text-center p-3 w-100 btn-styles anch-styles">Start Tracker</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-3">
                <img class="card-img-top p-4" src="/images/happy-calc.png">
                <h2 class="text-center card-title">Calculator</h2>
                <p class="p-1 card-text">description of the financal calculator</p>
                <a href="/calc" id="start-calculator" class="p-3 w-100 btn-styles anch-styles">Start Calculator</a>
                </div>
            </div>
        </div>
    </div>
</section>
