<section id="homepage">
    <div class="container-fluid d-flex justify-content-lg-between flex-wrap" style="min-width: 250px;">
        <div class="d-flex col-sm-4  mx-sm-auto">
            <div class="d-flex card mt-2 mb-2">
                <img class="d-flex card-img-top p-1 mt-2" src="/images/expenses.png">
                <div class="card-body">
                    <h2 class="d-flex justify-content-center card-title">Expense Tracker</h2> 
                    <p class="d-flex p-1 card-text"> Fill out our expense form and visualize your everyday spending habits with a bar graph.</p>
                    <a href="/tracker" id="start-expense-tracker" class="d-flex align-bottom justify-content-center p-3 w-100 btn-styles anch-styles">Start Tracker</a>
                </div>
            </div>
        </div>
        <div class="d-flex col-sm-4 mx-sm-auto">
            <div class="d-flex card mt-2 mb-2">
                <img class="d-flex card-img-top p-1 mt-2" src="/images/happy-calc.png">
                <div class="card-body">
                    <h2 class="d-flex justify-content-center card-title">Calculator</h2>
                    <p class="d-flex p-1 card-text">Just a simple calculator for your convenience when filling out your personal expense form.</p>
                    <a href="/calc" id="start-calculator" class="d-flex align-bottom justify-content-center p-3 w-100 btn-styles anch-styles">Start Calculator</a>
                </div>
            </div>
        </div>
    </div>
</section>
