<section>
    <form action="/login" method="get" id="login-form">

        <p>Login</p>

        <label for="email" class="login-signup-label">
          Email
          <input
                name="email"
                id="email-login"
                type="text"
                class="login-signup-input"
                placeholder="Enter Email"/>
        </label>
        <small></small>
        <label for="password" class="login-signup-label">
          Password
          <input
                name="password"
                id="password-login"
                type="password"
                class="login-signup-input"
                placeholder="Enter Password"/>
        </label>
        <small></small>

        <button id="login-btn">Login</button>
    </form>

    <form action="/signup" method="post" id="signup-form">

        <p>Sign Up</p>

        <label class="login-signup-label">
          First Name
          <input
                id="first-name-signup"
                type="text"
                class="login-signup-input"
                placeholder="Enter First Name"/>
        </label>
        <label class="login-signup-label">
          Last Name
          <input
                id="last-name-signup"
                type="text"
                class="login-signup-input"
                placeholder="Enter Last Name"/>
        </label>
        <label class="login-signup-label">
          Email
          <input
                id="email-signup"
                type="email"
                class="login-signup-input"
                placeholder="Enter Email"/>
        </label>
        <label class="login-signup-label">
          Password
          <input
                id="password-signup"
                type="password"
                class="login-signup-input"
                placeholder="Enter New Password"/>
        </label>

        <button id="signup-btn">Sign Up</button>
        <button class="go-back-home">Go Back</button>
    </form>

</section>

<script src="/javascript/login.js"></script>