<section>
  <div>
     <form action="/login" method="get" id="login-form" class="login-signup-forms">

        <h2>Login</h2>

        <label for="email" class="login-signup-label">
          Email
          
        </label>
        <input
                name="email"
                id="email-login"
                type="text"
                class="login-signup-input"
                placeholder="Enter Email"
        />

        <label for="password" class="login-signup-label">
          Password
        </label>
          <input
                name="password"
                id="password-login"
                type="password"
                class="login-signup-input"
                placeholder="Enter Password"
          />
        <button id="login-btn" class="btn-styles mt">Login</button>
    </form>
  </div>
   

<div class="mt">
  <form id="signup-form" class="mt login-signup-forms">

    <h2>Sign Up</h2>

    <label class="login-signup-label">First Name</label>
    <input
      id="first-name-signup"
      type="text"
      class="login-signup-input"
      placeholder="Enter First Name"
    />
   
    <label class="login-signup-label">Last Name</label>
    <input
      id="last-name-signup"
      type="text"
      class="login-signup-input"
      placeholder="Enter Last Name"
    />
    <label class="login-signup-label">Email</label>
    <input
          id="email-signup"
          type="email"
          class="login-signup-input"
          placeholder="Enter Email"
    />
    <label class="login-signup-label">Password</label>
      <input
        id="password-signup"
        type="password"
        class="login-signup-input"
        placeholder="Enter New Password"
      />  

    <button id="signup-btn" class="btn-styles anch-styles mt-l" >Sign Up</button>
    
    </form>
</div>
    

    <div class="mt flex-center">
      <a href="/" class="btn-styles anch-styles">Homepage</a>
    </div>

</section>

<script src="/javascript/login.js"></script>