#calculator {
    width: 250px;
    height: 400px;
    border-radius: 30px;
    background-color: lightblue;
    margin: 2%;
    padding: 2%;
}

.calc-row {
    margin: 10px 5px 10px 5px;
    justify-content: space-between;
}

#calculator-window {
    border-radius: 10px;
    min-height: 60px;
    font-size: 40px;
    padding: 2%;
}

.calc-btn-style {
    border: 2px solid #66F06F;
    background-color: palegoldenrod;
    width: 22%;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-size: 20px;
}

.calc-btn-special {
    border: 2px solid #66F06F;
    background-color: palegoldenrod;
    width: 45%;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-size: 20px;
}


/* #calculate{

} */