#expense-form-and-data {
    display: flex;
    justify-content: space-between;
}

#calculator {
    width: 12%;
    border-radius: 30px;
    background-color: #C6E4F5;
    margin: 1.8% 0 1.8% 85%;
    padding: 0.8%;
    position: absolute;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.calc-row {
    margin: 2.3% 1.1% 2.3% 1.1%;
    justify-content: space-between;
}

#calculator-window {
    border-radius: 10px;
    min-height: 1%;
    font-size: 1.7rem;
    padding: 2%;
}

.calc-btn-style {
    border: 2px solid #66F06F;
    background-color: #FFEFCF;
    width: 22%;
    border-radius: 10px;
    padding: 1%;
    margin: 1.5%;
    font-size: 1rem;
}

.calc-btn-special {
    border: 2px solid #66F06F;
    background-color: #FFEFCF;
    width: 45%;
    border-radius: 10px;
    padding: 1%;
    margin: 1.4%;
    font-size: 1.0rem;
}