* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}

:root {
    --primary-color: #FF7A00;
    --secondary-color: #FFEFCF;
    --tertiary-color: #D44000;
    --quaternary-color: #864000;
}

body {
    background-color: var(--secondary-color);   
}

header {
    box-sizing: border-box;
    border-bottom: solid 5px black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    padding: 0 30px 10px 60px;
}

h1 {
    padding: 20px 0;
}

h2 {
    font-size: 3em;
}

.nav-styles {
    display: flex;
    justify-content: end;
    align-items: end;
}

.ul-styles {
    display: flex;
    justify-content: space-around;
}

.description {
    margin: 100px 100px;
    padding: 50px 50px;
    border: solid 2px black;
}

section {
    padding: 60px 60px;
}

.btn-styles {
    border: solid black 2px;
    border-radius: 8px;
    width: 100px;
    box-shadow: 3px 3px black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: var(--quaternary-color);
    padding: 5px 15px;
    top: 3px;
    text-decoration: none;
}

.btn-styles:hover {
    background-color: var(--tertiary-color);
    color: white;
    box-shadow: 2px 2px var(--third-color);
    top: -2px;
}

.btn-styles:active {
    top: 0;
    box-shadow: none;
}

.anch-styles {
    color: black;
    text-decoration: none;
}

.anch-styles:hover {
    color: white;
}

.header-anch {
    color: black;
    text-decoration: none;
}

.header-anch:hover {
    color: black;
}

.footer-anchors {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-anchors:hover {
    color: var(--tertiary-color);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    padding: 100px 0 10px 100px;
}


/* expense form styling */

.expense-form-styles {
    margin: 100px;
    padding: 50px;
    border: solid 2px black;
    width: 50%;
}

.exp-styles {
    border: solid 2px black;
}
