* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #FF7A00;
    --secondary-color: #FFEFCF;
    --tertiary-color: #D44000;
    --quaternary-color: #864000;
}

body {
    background-color: var(--secondary-color);   
}

header {
    box-sizing: border-box;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    padding-left: 60px;
}

h1 {
    font-weight: bold;
    font-size: 8em;
    padding: 20px 0;
}


section {
    padding: 60px 60px;
}

.btn-styles {
    border: solid black 2px;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--quaternary-color);
    padding: 5px 15px;
    top: 3px;
}

.btn-styles:hover {
    background-color: var(--tertiary-color);
    color: white;
    box-shadow: 2px 2px var(--third-color);
    top: -2px;
}

.btn-styles:active {
    top: 0;
    box-shadow: none;
}

